<div class="jumbotron mb-4">
    <h1 class="text-center text-black display-1">Eat-Da-Burger</h1>
    <br>
    <br>
    <div class="container text-white mb-3">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Make a Burger</h3>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="col-form-label-lg mr-2">New Burger:</label>
                        <input type="text" id="burger-text" class="form-control">
                        <button type="submit" id="add-burger" class="btn btn-success">
                            <i class="far fa-thumbs-up"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row">

        <div class="col-12 col-lg-6">
            <table class="table table-light table-bordered table-hover">
                <thead>
                    <tr class="bg-success">
                        <td colspan="2" id="lefthead" ><strong>New Burgers</strong></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                {{#each burger}}
                {{#unless devoured}}
                <tr>
                    <td>{{burger_name}}</td>
                    <td><button class="devour btn btn-primary" data-id={{id}}><span class="fas fa-utensils"></span></button></td>
                </tr>
                {{/unless}}
                {{/each}}
            </table>
        </div>

        <div class="col-12 col-lg-6">
            <table class="table table-light table-bordered table-hover">
                <thead>
                    <tr class="table-danger">
                        <td colspan="2" id="righthead"><strong>Devoured Burgers</strong></td>
                    </tr>
                </thead>
                <tbody>

                </tbody>
                {{#each burger}}
                {{#if devoured}}
                <tr>
                    <td>{{burger_name}}</td>
                    <td><button class="delete btn btn-danger" data-id={{id}}><i class="fas fa-trash-alt"></i></button></td>
                </tr>
                {{/if}}
                {{/each}}
            </table>
        </div>
    </div>
</div>

